.sidebar {
    width: 102px;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--sidebar-border);
    margin: 40px 0px;
}

[data-responsive*="mobile"] {
    .sidebar {
        width: 65px;
    }
}

@mixin sidebarIcon {
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.sidbarAppLogo {
    margin-top: 15px;
    background-size: 34px;
    background-image: url("/img/appLogo.svg");
    @include sidebarIcon;
}

.sidebarAppCreate {
    margin-top: 70px;
    background-size: 25px;
    background-image: url("/img/videoIcon.svg");
    @include sidebarIcon;
    display: none;
}

[data-app~="video"] .sidebarAppCreate {
    display: block;
}

.sidebarAppBrowse {
    margin-top: 30px;
    background-size: 40px;
    background-image: url("/img/browseIcon.svg");
    @include sidebarIcon;
    display: none;
}

[data-app~="video"] .sidebarAppBrowse {
    display: block;
}

[data-app~="video.browse"] .sidebarAppBrowse {
    background-image: url("/img/browseIconActive.svg");
    background-color: var(--icon-active);
    border-radius: 10px;
}

[data-app~="video.actor"] .sidebarAppCreate {
    background-image: url("/img/videoIconActive.svg");
    background-size: 53px;
    background-color: var(--icon-active);
    border-radius: 10px;
}

.sidebarAppProfile {
    margin-top: auto;
    margin-bottom: 20px;
    background-image: url("/img/profileIcon.svg");
    @include sidebarIcon;
    display: none;
    border-radius: 100%;
}

[data-app~="video"] .sidebarAppProfile {
    display: block;
}
