[data-app~="video.account.profile"] .accountProfile {
    color: var(--interactive);
}

[data-app~="video.account.billing"] .accountBilling {
    color: var(--interactive);
}

[data-app~="video.account.plan"] .accountPlan {
    color: var(--interactive);
}

.accountContent {
    overflow: auto;
}
